<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css">
    <link rel="stylesheet" href="./css/master.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <title>Vaibhav Diyora</title>
</head>
<body ng-app="vdapp">
    <section id="section1">
        <header>
            <h2 class="logo">VD.</h2>
            <nav class="prim_nav">
                <ul>
                    <li class="nav_item"><a data-scroll href="#section1" class="active_nav">home</a></li>
                    <li class="nav_item"><a data-scroll href="#section2">about</a></li>
                    <li class="nav_item"><a data-scroll href="#section3">portfolio</a></li>
                    <li class="nav_item"><a data-scroll href="#section5">contact</a></li>
                    <li class="nav_item"><a href="./res/img/VDCV.pdf">download cv</a></li>
                </ul>
            </nav>
            <img src="" alt="">
        </header>

        <img src="./res/img/vd.png" alt="" id="vdshow">
        <p class="hi">Hi there! I am</p>
        <p class="vdname">Vaibhav Diyora</p>
        <div class="line sl st" id="sep_line"></div>
        <p class="prof">photographer <br>& painter</p>
        <button id="knowmore">know more</button>
    </section>

    <section id="section2">
        <img src="./res/img/vd2.jpg" alt="" class="ab_pic">
        <p class="sect_title" id="ab_title">Something to <br>know about me</p>
        <div class="line" id="msline"></div>
        <p class="sect_text" id="ab_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur facilis odit natus dicta inventore fuga debitis minima similique, autem delectus!</p>
        <div id="interests">
            <div class="interest">
                <div class="imgbor"><img src="./res/img/guitar.png" alt="" class="intimg"></div>
                <p class="intname">Playing guitar</p>
                <div class="line sl intline"></div>
                <p class="inttext">Cause probably that's the only way I can get a girl.</p>
            </div>
            <div class="interest">
                <div class="imgbor"><img src="./res/img/paint.png" alt="" class="intimg"></div>
                <p class="intname">Painting</p>
                <div class="line sl intline"></div>
                <p class="inttext">Cause who knows when I end up in Titanic</p>
            </div>
            <div class="interest">
                <div class="imgbor"><img src="./res/img/camera.png" alt="" class="intimg"></div>
                <p class="intname">Photography</p>
                <div class="line sl intline"></div>
                <p class="inttext">Cause I have a fucking DSLR! nuf said.</p>
            </div>
        </div>
    </section>

    <section id="section3" ng-controller="paint_photo_controller">
        <p class="sect_title" id="port_head">My Work</p>
        <div class="line st intline" id="port_line"></div>
        <p class="sect_text" id="port_text">
            I'm literally fucking honest and I don't give two shits
            about the fucking people. I love Pink Floyed even though
            I'm not an alcoholic. My lever sux.
        </p>
        <div class="album" id="paintings">
            <p class="intname">My Paintings</p>
            <div class="line sl intline"></div>
            <div class="album_view" id="pa_alb">
                <div class="p_img" ng-repeat="num in numarr"><a href="./res/img/paint/fullsize/{{num}}.jpg" data-lightbox="paint"><img ng-src="./res/img/paint/{{num}}.jpg" alt=""></a></div>
            </div>
        </div>
        <div class="album" id="photographs">
            <p class="intname">My photographs</p>
            <div class="line sl intline"></div>
            <div class="album_view" id="ph_alb">
                <div id="p_img1" class="p_img" ng-repeat="num in numarr"><a href="./res/img/photos/fullsize/{{num}}.jpg" data-lightbox="photos"><img src="./res/img/photos/{{num}}.jpg" alt=""></a></div>
            </div>
        </div>
    </section>

    <section id="section4" ng-controller="rating_controller">
        <p class="sect_title" id="rat_head">They say</p>
        <div class="line st intline" id="rat_line"></div>
        <div class="rating" id="rate{{$index+1}}" ng-repeat="review in reviews">
            <div class="r_avt"><img ng-src="./res/img/rater/r{{$index+1}}.jpg" alt=""></div>
            <p class="intname r_name">{{review.name}}</p>
            <p class="inttext r_post">{{review.post}}</p>
            <div class="line sl" id="r_line"></div>
            <p class="inttext r_text">{{review.text}}</p>
            <div class="stars"></div>
        </div>
    </section>

    <section id="section5">
        <p class="sect_title" id="port_head">Let's have a cup of coffee</p>
        <div class="line st intline" id="port_line"></div>
        <div class="maploc" id="map" style="width:100%;height:400px;"></div>
    </section>

    <footer>
        <form method="POST" action="contact.php">
            <div id="cont" class="inttext">Contact me via email</div>
            <div><input type="name" name="cf_name" placeholder="Your Name">
            <input type="email" name="cf_email" placeholder="Email"></div>
            <input type="text" name="cf_message" placeholder="Message">
            <div id="butt"><button type="submit" id="msg_send">Send</button></div>
        </form>
        <aside>
            <p>Call me: +91-8866810801</p> 
            <p>vaibhavdiyora88@gmail.com</p>
            <p><a href="http://www.instagram.com/vaibhavdiyora88" target="_blank"><img src="./res/icons/instagram.png" alt=""></a>  <a href="http://facebook.com/vaibhavdiyora88" target="_blank"><img src="./res/icons/facebook.png" alt=""></a> </p>
        </aside>
    </footer>
    <button class="copyright">
            &copy; Himanshu Pathak, 2018
    </button>



    <script src="./js/script.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ7-aOSYHxtUNAFTaPacp8VM0QDynkqkI&callback=myMap"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
    <script>
        var scroll = new SmoothScroll('.nav-item a[href*="#"]');
    </script>
</body>
</html>